:root {
    --main-color: #978e89;
    --main-light-color: #CABDB5;
}
html {
    background-color: #333;
}
::selection {
    background: rgba(250, 235, 230, 0.5);
}

.bg-main-900 {
    background-color: #655c57;
}
.bg-main-850 {
    background-color: #59514c;
}
.bg-main-800 {
    background-color: #534c47;
}
.bg-main-750 {
    background-color: #4c4641;
}
.bg-main-700 {
    background-color: #47413d;
}
.bg-main-650 {
    background-color: #403a37;
}
.bg-main-600 {
    background-color: #3a3532;
}

.bg-header {
    background-color: rgba(58, 53, 50, 0.75);
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 20;
    width: 100%;
}

.text-main-grey {
    color: var(--main-light-color);
}

.h-60vh{
    height: 60vh;
}

.alata {
    font-family: Alata, sans-serif;
}
.amiri{
    font-family: Amiri, serif;
}
.segoe{
    font-family: "Segoe UI", serif;
}

.ptheader {
    padding-top: 5rem;
}

.apparition{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: apparaitre 1s forwards;
}

.inputmain {
    outline: none !important;
    background-color: #6b615b;
    border-bottom: solid 3px var(--main-color);
    transition: 0.5s;
    &:hover {
        background-color: rgba(162, 145, 135, 0.8);
        backdrop-filter: blur(20px);
        border-bottom: solid 3px rgb(202, 189, 181);
    }
}
.inputmain2 {
    outline: none !important;
    background-color: #47413d;
    border-bottom: solid 3px var(--main-color);
    padding: 0.5em;
    transition: 0.5s;
    &:hover{
        background-color: #6b615b !important;
        border-bottom: solid 3px rgba(202, 189, 181, 0.5) !important;
    }
    &:focus {
        background-color: #3d3835 !important;
        border-bottom: solid 3px rgba(202, 189, 181, 0.5) !important;
    }
}

.mainbtn {
    transition: 0.3s;
    i:before {
        width: 1.5em;
        height: 1.5em;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.divbtn>button{
    padding: 1em 2em !important;
    margin: 1em 0 0 !important;
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    &:hover{
        background-color: rgba(255, 255, 255, 0.2) !important;
    }
}
.divbtnred>button{
    background-color: #ce5b47 !important;
    &:hover{
        background-color: #d5715f !important;
    }
}
.crud input,a.crud,.lmcinput,.divbtn>button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none !important;
    transition: 0.5s;
    padding: 0.5em;
    margin: 0.5em;
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.lmcinputred{
    transition: 0.5s;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #ce5b47;
    &:hover{
        background-color: #d5715f;
    }
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    color: white;
    .page-link {
        padding: 0.5rem 1rem;
        margin: 0;
        border: 1px solid transparent;
        background-color: #6b615b;
        color: white;
        text-decoration: none;
    }
    .page-link:hover {
        background-color: #978e89;
        color: white;
        border-color: transparent;
    }
    .active .page-link {
        background-color: #817a75;
        border-color: var(--main-color);
    }
    .disabled .page-link {
        background-color: #544d49;
        color: var(--main-color);
        border-color: transparent;
    }
}

.lmc a{
    transition: 0.5s;
    &:hover{
        color: var(--main-light-color);
    }
}

.lmcborder{
    border: 2px solid var(--main-color);
}

#plat,section#crud {
    .imgplat{
        border-bottom: 2px solid var(--main-color);
        border-radius: 0 0 0.5em 0.5em;
    }
    hr{
        /*width: auto;*/
        border: none;
        height: 2px;
        border-radius: 30px;
        background-color: var(--main-color);
    }
}

#crud{
    justify-content: center;
    input[type="text"],
    textarea,
    select{
        padding: .5rem;
        background-color: #47413d;
    }
    .imgplat{
        input[type=file]::file-selector-button {
            transition: 0.5s;
            margin-right: 1em;
            border: none;
            background: #6b615b;
            padding: 0.5em 2em;
            color: #fff;
            cursor: pointer;
        }
        input[type=file]::file-selector-button:hover {
            background-color: rgba(162, 145, 135, 0.8);
        }
    }
}

.platehover {
    transition: 0.3s;
    img {
        transition: 0.3s;
    }
}
.platehover:hover{
    transition: 0.3s;
    img {
        filter: brightness(1.2);
        transition: 0.3s;
    }
}

.linkheader {
    a,.formheaderlmc {
        position: relative;
        text-decoration: none;
    }
    height: 100%;
}
.linkheader a:not(.nohover):after,.formheaderlmc:after {
    content: '';
    position: absolute;
    background-color: var(--main-light-color);
    bottom: -0.25rem;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}
.linkheader a:hover:after,.formheaderlmc:hover:after {
    opacity: 1;
    transition: 0.3s;
}

input::placeholder, textarea::placeholder {
    color: var(--main-color) !important;
}

input[type="text"]:not(.inputmain2),
input[type="password"]:not(.inputmain2){
    transition: 0.5s;
    border-bottom: solid 3px var(--main-color);
}

input[type="text"]:focus:not(.inputmain2),
input[type="password"]:focus:not(.inputmain2) {
    outline: none;
    box-shadow: 0 0 5px #ffffff;
    z-index: 3;
    transition: 0.5s;
    background: transparent !important;
    background-image: none !important;
    background-color: #544d49 !important;
    backdrop-filter: blur(20px);
    -webkit-background-clip: border-box !important;
}

footer {
    hr {
        border: none;
        height: 2px;
        border-radius: 30px;
        background-color: var(--main-color);
    }
}

section,header {
    color: white;
}

.force{
    p::before{
        content: "+ ";
        color: #0AD10A;
    }
}

.faiblesse{
    p::before{
        content: "- ";
        color: #FF5A5A;
    }
}
